/* .details__container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'details__poster details__release details__release__data'
		'details__poster details__genres details__genres__data'
		'details__poster details__overview details__overview__data'
		'details__poster details__average details__average__data'
		'details__poster details__trailer details__trailer'
		'details__poster details__trailer--data details__trailer--data';
}
.details__release {
	grid-area: details__release;
}
.details__release__data {
	grid-area: details__release__data;
}
.details__genres {
	grid-area: details__genres;
}
.details__genres__data {
	grid-area: details__genres__data;
}
.details__overview {
	grid-area: details__overview;
}
.details__overview__data {
	grid-area: details__overview__data;
}
.details__average {
	grid-area: details__average;
}
.details__average__data {
	grid-area: details__average__data;
}
.details__trailer {
	grid-area: details__trailer;
}
.details__trailer--data {
	grid-area: details__trailer--data;
}
.details__poster {
	grid-area: details__poster;
} */
