* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* general */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
	background-color: #24323f;
	color: #ffffff;
	font-family: 'Anton', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #ffffff;
}

/* NavBar */
.navigation-grid {
	background-color: #1a2634;
	display: grid;
	grid-template-columns: 2fr 4fr;
	grid-template-rows: 142px;
	gap: 0px 0px;
	grid-template-areas: 'navigation__link search';
	align-items: center;
	justify-items: start;
}

.navigation__link,
.footer__link {
	grid-area: navigation__link;
	padding-left: 5vw;
}

.navigation__text--white,
.navigation__text--color,
.footer__text--white,
.footer__text--color {
	font-size: 50px;
	line-height: 75.27px;
}

.navigation__text--color,
.footer__text--color {
	color: #21e18c;
}

/* footer */
.footer-grid {
	justify-content: flex-end;
	background-color: #1a2634;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-template-rows: 142px;
	gap: 0px 0px;
	grid-template-areas: 'footer__link footer__link--imprint footer__social';
	align-items: center;
}

.footer__link {
	grid-area: footer__link;
	margin-right: 91px;
}

.footer__link--imprint {
	grid-area: footer__link--imprint;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	line-height: 29.3px;
}

.footer__social {
	grid-area: footer__social;
}

.social__link {
}

.social__icon {
	margin-left: 33px;
	height: 52px;
	width: 52px;
}

/* search */
.search {
	grid-area: search;
	background-color: #24323f;
	border-radius: 40px;
	width: 335px;
	height: 55px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 3vw;
}

.search__button {
	background-color: transparent;
	background-image: url('./assets/images/search-icon.png');
	background-size: cover;
	border: none;
	height: 30px;
	width: 30px;
}

.search__input {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 23.44px;
	opacity: 0.5;
}

.search__input:focus-visible {
	outline: none;
}

/* page - home */

.home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
	gap: 35px 30px;
	padding: 35px 5vw 127px 5vw;
}

.home__heading {
	font-size: 45px;
	line-height: 67.74px;
	margin-top: 66px;
	margin-left: 5vw;
}

.home-item {
}
.home__rating {
}
.home__image {
	width: 100%;
	overflow: hidden;
}

.home__text--thin {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 100;
	line-height: 18.75px;
}

.home__text--white {
	font-size: 18px;
	line-height: 27.1px;
}

/* home-search */
.home-search__heading {
}
.home-search-grid {
}
.home-search-item {
}
.home-search__image {
}
.home-search__rating {
}
.home-search__text--thin {
}
.home-search__text--white {
}

/* search no result */
.search-nores {
}
.search-nores__heading {
}
.search-nores__text {
}
.search-nores__link {
}

/* page - detail */
.details__grid {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'details__poster details__release details__release__data'
		'details__poster details__genres details__genres__data'
		'details__poster details__overview details__overview__data'
		'details__poster details__average details__average__data'
		'details__poster details__trailer details__trailer'
		'details__poster details__trailer--data details__trailer--data';
}

.details__release {
	grid-area: details__release;
}

.details__release__data {
	grid-area: details__release__data;
}

.details__genres {
	grid-area: details__genres;
}

.details__genres__data {
	grid-area: details__genres__data;
}

.details__overview {
	grid-area: details__overview;
}

.details__overview__data {
	grid-area: details__overview__data;
}

.details__average {
	grid-area: details__average;
}

.details__average__data {
	grid-area: details__average__data;
}

.details__trailer {
	grid-area: details__trailer;
}

.details__trailer--data {
	grid-area: details__trailer--data;
}

.details__poster {
	grid-area: details__poster;
}
