/* general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
	background-color: #24323f;
	color: #ffffff;
	font-family: 'Anton', sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #ffffff;
}

/* navigation */
.navigation-grid {
	background-color: #1a2634;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 142px;
	gap: 0px 0px;
	grid-template-areas: 'navigation__link . search . .';
	align-items: center;
	justify-items: start;
}

.navigation__link,
.footer__link {
	grid-area: navigation__link;
	padding-left: 5vw;
	transition: 0.3s;
	/* 15.09.2022 Pointer Logo */
	cursor: pointer;
}

.navigation__link:hover,
.footer__link:hover {
	opacity: 0.5;
}

.navigation__text--white,
.navigation__text--color,
.footer__text--white,
.footer__text--color {
	font-size: 50px;
	line-height: 75.27px;
}

.navigation__text--color,
.footer__text--color {
	color: #21e18c;
}

/* footer */
.footer-grid {
	justify-content: flex-end;
	background-color: #1a2634;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 142px;
	gap: 0px 0px;
	grid-template-areas: 'footer__link footer__link--imprint footer__social . .';
	align-items: center;
	/* 15.09.2022 footer */
	/*
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	*/
}

.footer__link {
	grid-area: footer__link;
	margin-right: 91px;
}

.footer__link--imprint {
	grid-area: footer__link--imprint;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	line-height: 29.3px;
	transition: 0.3s;
}

.footer__link--imprint:hover {
	opacity: 0.5;
}

.footer__social {
	grid-area: footer__social;
}

.social__link {
}

.social__icon {
	margin-left: 33px;
	height: 52px;
	width: 52px;
	transition: 0.3s;
}

.social__icon:hover {
	opacity: 0.5;
}

/* search */
.search {
	grid-area: search;
	background-color: #24323f;
	border: 2px solid #24323f;
	border-radius: 40px;
	width: 335px;
	height: 55px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 3vw;
	transition: 0.3s;
}

.search:hover {
	border: 2px solid #21e18c;
	opacity: 0.8;
}

.search__button {
	background-color: transparent;
	background-image: url('./assets/images/search-icon.png');
	background-size: cover;
	border: none;
	height: 30px;
	width: 30px;
}

.search__input {
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 23.44px;
	opacity: 0.5;
	transition: 1s;
}

.search__input:focus-visible {
	outline: none;
	border: 2px solid #21e18c;
	padding: 14px 52px;
	border-radius: 50px;
}

/* page - home */
.home-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	gap: 35px 52px;
	padding: 35px 5vw 127px 5vw;
}

.home__heading,
.home-search__heading {
	font-size: 45px;
	line-height: 67.74px;
	margin-top: 66px;
	margin-left: 5vw;
}

.home-item,
.home-search-item {
	position: relative;
	/* width: 15vw; */
	width: 226px;
}

.home__rating,
.home-search__rating {
	background-color: #21e18c;
	border-radius: 50px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18.75px;
	height: 40px;
	position: absolute;
	text-align: center;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 8px;
	top: 8px;
}

.home__image,
.home-search__image {
	border: 2px solid transparent;
	height: 339px;
	overflow: hidden;
	width: 226px;
	/* 15.09.2022 Cursor pointer for images*/
	cursor: pointer;
}

.home__image:hover,
.home-search__image:hover {
	border: 2px solid #21e18c;
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 #00000079, 0 6px 20px 0 #000000a9;
}

.home__text--thin,
.home-search__text--thin {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 100;
	line-height: 18.75px;
	margin: 8px 0 4px 0;
}

.home__text--white,
.home-search__text--white {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
}

/* home-search */
.home-search-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	gap: 35px 52px;
	padding: 35px 5vw 127px 5vw;
}

/* search no result */
.search-nores {
	height: calc(100vh - 142px * 2);
	overflow: hidden;
	padding-left: 5vw;
	margin-top: -18vh;
}

.search-nores__heading {
	font-size: 40px;
}

.search-nores__text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 45px 0;
}

.search-nores__link {
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50px;
	padding: 2px 50px;
	margin-top: 20px;
	transition: 1s;
	font-family: "Roboto", sans-serif;
}

.search-nores__link:hover {
	border: 2px solid #21e18c;
	box-shadow: 0 0 8px 0 #00000079, 0 0 2px 0 #000000a9;
}

/* page - detail */
.details__heading {
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 68px;
	margin: 66px 0 35px 0;
	padding-left: 5vw;
}

.details__grid {
	display: grid;
	grid-template-columns: 1fr 14% 1fr;
	gap: 12px 29px;
	grid-template-areas:
		'details__poster details__release details__release--data'
		'details__poster details__genres details__genres--data'
		'details__poster details__overview details__overview--data'
		'details__poster details__average details__average--data'
		'details__poster details__trailer details__trailer'
		'details__poster details__trailer--data details__trailer--data';
	overflow: hidden;
	padding: 35px 5vw 127px 5vw;
}

.details__release,
.details__genres,
.details__overview,
.details__average,
.details__trailer {
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
}

.details__release--data,
.details__genres--data,
.details__overview--data,
.details__average--data,
.details__trailer--data {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	padding: 8px 0;
}

.details__poster {
	grid-area: details__poster;
	width: 557px;
	height: 836px;
}

.details__release {
	grid-area: details__release;
}

.details__release--data {
	grid-area: details__release--data;
}

.details__genres {
	grid-area: details__genres;
}

.details__genres--data {
	grid-area: details__genres--data;
}

.details__overview {
	grid-area: details__overview;
}

.details__overview--data {
	grid-area: details__overview--data;
}

.details__average {
	grid-area: details__average;
	color: #ffffff;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 20px;
}

.details__average--data {
	grid-area: details__average--data;
}

.details__trailer {
	grid-area: details__trailer;
	margin-bottom: -17px;
}

.details__trailer--data {
	grid-area: details__trailer--data;
	width: 467px;
	height: 259px;
}

/* Button Kein Trailer zu sehen? */

.details__trailer__button {
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50px;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px 50px;
	transition: 1s;
	width: max-content;
}

.details__trailer__button:hover {
	border: 2px solid #21e18c;
	box-shadow: 0 0 8px 0 #00000079, 0 0 2px 0 #000000a9;
}

.details__trailer__text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
}

@media only screen and (max-width: 600px) {
	/* navigation */
	.navigation-grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'navigation__link . .'
			'search search search';
		/* justify-items: center; */
	}

	/* search */
	.search {
		width: 93vw;
		margin: 24px auto;
	}

	/* page - home */
	.home-grid {
		grid-template-columns: 100%;
		gap: 35px 52px;
		padding: 12px 0 0 0;
		justify-items: center;
		width: 100vw;
		margin: 0 auto;
	}

	.home-item {
		width: auto;
		margin: 0 auto;
	}

	.home__image {
		height: 78%;
		width: 82vw;
	}

	/* 15.09.2002 - Detail page */
	.details__grid {
		display: flex;
		flex-direction: column;
	}

	.details__heading {
		margin: 29px 0 5px 0;
	}

	.details__poster {
		width: auto;
		height: auto;
	}

	.details__release,
	.details__genres,
	.details__overview,
	.details__average,
	.details__trailer {
		font-size: 1.6rem;
	}

	/* Um Abstand zwischen Average Voting und Zahl zu reduzieren  */
	.details__average {
		margin-bottom: 0px;
	}

	.details__genres--data,
	.details__release--data,
	.details__overview--data,
	.details__average--data {
		font-size: 1.1rem;
	}

	/* Trailer */
	.details__trailer--data {
		margin-bottom: 1vh;
		width: auto;
		height: auto;
	}

	.search {
		margin: 24px auto;
		width: 300px;
	}

	.search__input:focus-visible {
		outline: none;
		border: 2px solid #21e18c;
		padding: 14px 33px;
		border-radius: 50px;
	}
}
